@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-center-rgb: 255, 135, 135;
  --background-outer-rgb: 173, 57, 34;
  --input-yellow: 255, 203, 8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    rgb(var(--background-center-rgb)),
    rgb(var(--background-outer-rgb))
  );
}

.bg-input-yellow {
  background-color: rgb(var(--input-yellow));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
