@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-center-rgb: 255, 135, 135;
  --background-outer-rgb: 173, 57, 34;
  --input-yellow: 255, 203, 8;
  --text-blue: 0, 74, 148;
}

body {
  color: rgb(var(--text-blue));
  background: radial-gradient(
    rgb(var(--background-center-rgb)),
    rgb(var(--background-outer-rgb))
  );
}

@layer base {
  .text-dark {
    color: rgb(var(--text-blue));
  }
  span,
  h3,
  h4 {
    @apply text-white;
  }
}

@layer components {
  .bg-input-yellow {
    background-color: rgb(var(--input-yellow));
  }
  input::placeholder {
    @apply text-dark opacity-100 italic;
  }
  input::-webkit-input-placeholder {
    @apply text-dark opacity-100 italic;
  }
  input::-moz-placeholder {
    @apply text-dark opacity-100 italic;
  }
  input::-ms-input-placeholder {
    @apply text-dark italic;
  }
  input:focus {
    outline: none;
  }
}
